@mixin mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin fonts($ff: Poppins, $ffs: normal, $fw: 600, $fs: 52px, $lh: 80px) {
  font-family: $ff;
  font-style: $ffs;
  font-weight: $fw;
  font-size: $fs;
  line-height: calc($lh / $fs);
}
