.btn__orange {
  padding: 15px 18px;
  background-color: #fe7031;
  border: none;
  border-radius: 4px;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #fe7031;
    border-radius: 4px;
    border: 1px solid #fe7031;
  }
}

.btn__transparent {
  display: flex;
  text-align: center;
  gap: 9px;
  padding: 10px 19px;
  background-color: transparent;
  border-radius: 4px;
  border-color: $colorFontPrimary;
  color: $colorFontPrimary;

  &:hover,
  &:focus {
    background-color: #fe7031;
    color: #ffffff;
  }
}
