.header {
  &-container {
    display: flex;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
    }

    @include desktop {
      padding-left: 16px;
      margin-right: 16px;
    }
  }

  &__logo {
    width: 123px;

    @include tablet {
      width: 156px;
    }
  }

  &__nav {
    display: none;

    @include desktop {
      display: flex;
      margin-right: auto;
      margin-left: 43px;
    }

    &-list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: flex-end;
      gap: 60px;
    }

    &-item {
      height: max-content;
    }

    &-text {
      margin: 0;
      margin-bottom: 0px;

      font-weight: 400;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: #202025;
    }
  }

  // &__logo-link {
  // }
  &__button-menu {
    margin: 0;
    padding: 0;
    margin-left: auto;

    @include tablet {
      margin-left: 40px;
    }

    border: none;
    background-color: inherit;

    @include desktop {
      display: none;
    }
  }

  &__input-box {
    margin-left: auto;
    display: flex;
    position: relative;

    @media screen and (max-width: 768px) {
      display: none;
    }

    @include desktop {
      margin-right: 172px;
    }
  }

  &__input-text {
    padding: 0px 0px 0px 48px;
    width: 288px;
    border: 1px solid #fd5103;
    border-radius: 4px;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.02em;
      color: #5f6775;
      opacity: 0.4;
    }
  }

  &__input-button {
    position: absolute;
    border: 1px solid #fd5103;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background-color: inherit;
    height: 100%;
    width: 40px;
  }

  &__color-theme-box {
    @media screen and (max-width: 1279px) {
      display: none;
    }
    display: flex;
    align-items: center;
    gap: 12px;

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33;
      align-items: center;
      color: #5f6775;
    }
    &__switch {
      position: relative;
      width: 40px;
      height: 20px;
      background: #ffffff;
      border: 0.604701px solid #fd5103;
      border-radius: 10px;
      &-ball {
        height: 16px;
        width: 16px;
        background-color: #fd5103;
        border-radius: 9px;
        margin-top: 1px;
        margin-left: 1px;
        &.ball-left {
          margin-left: 1px;
        }
        &.ball-right {
          transform: translateX(20px);
        }
      }
    }
  }
}
